
/* Geral*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

body{
    background-color: black;
    height: 100vh;
}

.home{
    max-width: 1280px;
    margin: 0 auto;
}

.geral{
    display: flex;
}





/*Header*/

header{
    padding: 40px 4%;

}

header > .home{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

header a{
    color: white;
    text-decoration: none;
    display: inline-block;
}

header a:hover{
    transform: scale(1.07);
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 10px 40px; 
    font-size: 16px;
    border: 0;
    background-color: darkslategray;  
    border-radius: 30px;
    cursor: pointer;
}

header .btn-contato button{
    padding: 15px 40px;
    font-size: 20px;
    font-weight: 600;
    background-color: purple;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    color: lavender;
}

.container-circulo {
    width: 200px; /* Defina a largura e a altura desejadas para o círculo */
    height: 200px;
    border-radius: 50%; /* Isso cria um círculo definindo a borda para metade da largura ou altura */
    overflow: hidden; /* Oculta qualquer conteúdo que ultrapasse os limites do círculo */
}
  
  .container-circulo img {
    width: 100%; /* A imagem deve preencher todo o espaço do contêiner */
    height: auto;
    display: block;
}





/*Meio da página*/

section.meio-pagina{
    padding: 50px 4%;

}

section.meio-pagina .geral{
    align-items: center;
    justify-content: center;
}

.meio-pagina h1{
    color: gray;
    font-size: 60px;
}

.meio-pagina p{
    color: gray;
    font-size: 40px;
    text-align: center;
}

.meio-pagina p spam{
    font-size: px;
    color: darkslategrey;
    text-align: center;
}

/*Footer*/
footer {
    position: fixed;
    color: gray;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 20px 0;
    
}
.links p {
    margin: auto;
    text-align: center;
    padding: 25px;
    justify-content: center;
}
.links img{
    width: 40px;
    height: 40px;
    border: 0;
    background-color: white;  
    border-radius: 5px;
    cursor: pointer;
    list-style-type: none;
    margin: 10px;
}
.links a{
    text-decoration: none;  
}


  
  

/*sobre mim*/

section.sobre{
    padding: 40px 4%;
    color: gray;
}
section.sobre .geral{
    align-items: center;
    justify-content: center;
    gap: 90px;
}
.sobre h2{
    font-size: 40px;
    text-align: center;
}
.sobre p{
    font-size: 20px;
    text-align: justify;      
}
.img-sobre{
    border-radius: 20px;
}




/*Profissional*/
section.profissional{
    color: gray;
    padding: 40px 4%;
    margin: 100px;
    margin-top: auto;
}
.prof h2{
    font-size: 40px;
    text-align: center;
    align-items: center;
}
.prof p{
    font-size: 20px;
    text-align: justify;
    text-indent: 60px;
}



/*Projetos*/
section.projetos{
    align-items: center;
    margin: 0;
    padding: 40px 4%;
}
.projetos p{
    color: gray;
    font-size: 30px;
    text-align: center;
    margin-top: 150px;
}


/*Contato*/

form{
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    color: gray;
    margin-top: 10px;
   
}

form h2{
    text-align: center;
    font-size: 50px;  
}

form input{
    width: 100%;
    background-color: rgb(88, 87, 87);
    border: 0;
    outline: 0;
    padding: 20px 15%;
    border-radius: 15px;
}

form textarea{
    background-color: rgb(88, 87, 87);
    border-radius: 15px;
    resize: none;
    border: 0;
    outline: 0;
    padding: 20px 15%;
    max-height: 150px;
    color: rgb(190, 185, 185);
    text-align: left;
}

form div:hover{
    transform: scale(1.07);
}

form .btn-enviar{
    display: flex;
    justify-content: center;
}
form .btn-enviar button{
    width: 100px;
    background-color: purple;
    color: lavender;
    font-weight: 700;
    cursor: pointer;
    padding: 20px;
    border-radius: 15px;
    border: 0;
    font-size: medium;
    text-align: center;
}