
/* Geral*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;   
}
body{
    background-color: black;
    height: 100vh;
}
.home{
    max-width: 1280px;
    margin: 0 auto;
}
.geral{
    display: flex;
}



/*Header do Index*/

header{
    padding: 40px 4%;
}
header > .home{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header a{
    color: white;
    text-decoration: none;
    display: inline-block;
}
header nav.menu-home a:hover{
    transform: scale(1.07);
}
header nav ul{
    list-style-type: none;
}
header nav.menu-home ul li{
    display: inline-block;
    padding: 10px 40px; 
    font-size: 16px;
    border: 0;
    background-color: darkslategray;  
    border-radius: 30px;
    cursor: pointer;
}
header .btn-contato button{
    padding: 15px 40px;
    font-size: 20px;
    font-weight: 600;
    background-color: purple;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    color: lavender;
}
.btn-contato:hover{
    transform: scale(1.07);
}

.container-circulo {
    width: 200px; 
    height: 200px;
    border-radius: 50%; 
    overflow: hidden; 
}
.container-circulo img {
    width: 100%; 
    height: auto;
    display: block;
}



/*Menu Mobile*/
.btn-abrir-menu{
    display: none;
    position: fixed; 
    top: 20px; 
    right: 20px;
}
.btn-abrir-menu i{
    color: purple;
    font-size: 40px;      
}
.menu-mobile{
    background-color: darkslategray;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999999999999999;
    width: 0%;
    overflow: hidden; 
    transition: .2s;   
}
.menu-mobile.abrir-menu{
    width: 40%;
    z-index: 9999999999999999;
}
.menu-mobile.abrir-menu ~ .overlay-menu{
    display: block;
}
.overlay-menu{
    background-color: #000000a7;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 88888;
    display: none;
}
.menu-mobile .btn-fechar-menu{
    padding: 20px 8%;
}
.menu-mobile .btn-fechar-menu i{
    color: gray;
    font-size: 25px;
}
.menu-mobile nav ul{
    text-align: right;   
}
.menu-mobile nav ul li a{
    display: flex;
    color: gray;
    font-size: 22px;
    font-weight: 400;
    padding: 20px 8%;
    flex-direction: column;
}
.menu-mobile nav ul li a:hover{
    background-color: gray;
    color: darkslategray;
}


/*Imagem do Header*/
.container-circulo {
    width: 200px; 
    height: 200px;
    border-radius: 50%; 
    overflow: hidden; 
}
.container-circulo img {
    width: 100%; 
    height: auto;
    display: block;
}



/*Meio da página Index*/
section.meio-pagina{
    padding: 50px 4%;
    box-shadow: 0 0 40px 10px #ffffff3e;

}
section.meio-pagina .geral{
    align-items: center;
    justify-content: center;
    text-align: center;
}
.meio-pagina h1{
    color: rgb(233, 230, 230);
    font-size: 60px;
    margin-bottom: 40px;
}
.meio-pagina p{
    color: rgb(233, 230, 230);
    font-size: 40px;
    text-align: center;
    margin-bottom: 80px;
}
.meio-pagina p spam{
    font-size: px;
    color: darkslategrey;
    text-align: center;
   
}



/*Footer do Index*/
footer {
    position: relative;
    color: gray;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 20px 0;
    
}
.links p {
    margin: auto;
    text-align: center;
    padding: 20px;
    justify-content: center;
   
}
.links img{
    width: 40px;
    height: 40px;
    border: 0;
    background-color: white;  
    border-radius: 5px;
    cursor: pointer;
    list-style-type: none;
    margin: 10px;
    margin-top: auto ;
}
.links a{
    text-decoration: none;  
}

  

/*Página Sobre mim*/
section.sobre{
    padding: 40px 4%;
    color: rgb(233, 230, 230);
    margin-bottom: 16px;
    box-shadow: 0 0 40px 10px #ffffff3e;
}
section.sobre .geral{
    align-items: center;
    justify-content: center;
    gap: 90px;
    margin-bottom: 16px;
}
.sobre h2{
    font-size: 40px;
    text-align: center;
    margin-bottom: 30px;
}
.sobre p{
    font-size: 20px;
    text-align: justify;
    margin-bottom: 18px;
    text-indent: 30px;
    line-height: 1.5;
}
.sobre ul {
    font-size: 16px;
    padding-left: 60px;
    margin-bottom: 30px;
    margin-top: 30px;
}
.texto-sobre ul li {
    padding-left: 10px; 
    font-size: 20px;
    margin-bottom: 14px;
}
.img-sobre{
    border-radius: 20px;
}
.sobre a {
    color: #0077cc;
    text-decoration: none;
    margin-bottom: 20px;
}

.sobre a:hover {
    color: #005fa3;
}



/*Página Profissional*/
section.profissional{
    color: rgb(233, 230, 230);
    padding: 20px 2%;
    margin: 0;
    margin-top: auto;
    box-shadow: 0 0 40px 10px #ffffff3e;
}
.prof h2{
    font-size: 40px;
    text-align: center;
    align-items: center;
    margin-bottom: 50px;
}
.prof p{
    font-size: 20px;
    text-align: center;
    margin-bottom: 40px;
}



/*Página Projetos*/
section.projetos{
    align-items: center;
    box-shadow: 0 0 40px 10px #ffffff3e;
    margin: 0;
    padding: 40px 4%;
}
section.projetos .geral{
    justify-content: space-around;
}
.projetos h2{
    text-align: center;
    color:#fff;
    margin-bottom: 60px;
    font-size: 50px;
}

.image{
    width: 360px;
    height: 360px;
    background-size: cover;
    background-position: center;
    transition: 0.7s;
    cursor: pointer;
    border-radius: 40px;
    position: relative;
}
.image:hover{
    transform: scale(1.10);
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000b8;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    opacity: 0;
    transition: 1s;
}
.overlay:hover{
    opacity: 1;
}
.texto-projeto{
    color: rgb(233, 230, 230);
    width: 360px;
    font-size: 18px;
    text-align: justify;
    margin-top: 20px;
    line-height: 1.5;
}
.texto-projeto p{
    text-indent: 20px;
    line-height: 1.8;
}


/*Página Contato*/
form{
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    color: rgb(233, 230, 230);
    margin-top: 10px;
   
}
form h2{
    text-align: center;
    font-size: 50px;  
}
form input{
    width: 100%;
    background-color: rgb(88, 87, 87);
    border: 0;
    outline: 0;
    padding: 20px 15%;
    border-radius: 15px;
}
form textarea{
    background-color: rgb(88, 87, 87);
    border-radius: 15px;
    resize: none;
    border: 0;
    outline: 0;
    padding: 20px 15%;
    max-height: 150px;
    color: rgb(190, 185, 185);
    text-align: left;
}
form div:hover{
    transform: scale(1.07);
}
form .btn-enviar{
    display: flex;
    justify-content: center;
}
form .btn-enviar button{
    width: 100px;
    background-color: purple;
    color: lavender;
    font-weight: 700;
    cursor: pointer;
    padding: 20px;
    border-radius: 15px;
    border: 0;
    font-size: medium;
    text-align: center;
}



/*Página Resposta*/
.resposta{
    color: gray;
    margin-top: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;   
    gap: 30px;
}
.resposta h2{
    font-size: 30px;
}
.resposta p{
    font-size: 20px;
    margin-bottom: 30px;
}
.link-home{
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 30px;
}
.link-home a{
    padding: 20px 4%;
    font-size: 16px;
    border: 0;
    background-color: darkslategray;  
    border-radius: 30px;
    cursor: pointer;
    color: white;
    text-decoration: none;
}

/*Responsividade do site*/
@media screen and (max-width: 1020px){

    /*Index*/
    .btn-abrir-menu{
        display: block;
    }
    .home{
        flex-direction: column;
    }
    .menu-home, .btn-contato{
        display: none;
    }
    .meio-pagina{
        padding: 20px 4%;
    }
    .meio-pagina h1{
        font-size: 35px;
        text-align: center;
        
    }
    .meio-pagina p{
        font-size: 20px;
        margin-bottom: 0;
    }
    footer {
        position: relative;     
    }
    
    /*Página Sobre*/   
    section.sobre .geral{
        flex-direction: column-reverse;
        gap: 10px;
    }    
    section.sobre{
        padding: 20px 4%;
    } 
    .sobre h2{
        font-size: 30px;
        text-align: center;
    }
    .sobre p{
        font-size: 17px;
    }.texto-sobre ul li {
        font-size: 17px;
    }

    
    /*Página Profissional*/
    section.profissional{
        
        padding: 20px 8%;
        margin: auto;
        gap: 10px;
    }
    .prof h2{
        font-size: 30px;
        
    }
    .prof p{
        font-size: 17px;
    }


    /*Página Projetos*/
    section.projetos .geral{
        flex-direction: column;
        gap: 40px;
        align-items: center
    }

    
    

    /*Página Resposta*/
    .resposta{
        margin-top: 150px;
        gap: 30px;
    }
    .resposta h2{
        font-size: 25px;
    }
    .resposta p{
        font-size: 17px;
    }
    .link-home a{
        padding: 20px 8%;
        font-size: 17px;
        border-radius: 10px;    
    }


    /*Página Contato*/
    form{
        max-width: 300px;
        margin: auto;  
    }
    form h2{
        font-size: 40px;  
    }
    form .btn-enviar button{
        margin-top: 15px;
        margin-bottom: 20px;
        padding: 15px;        
    }    

}
